@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    color: #0f172a;
    background-color: #fafafa;
}

h1 {
    @apply text-3xl font-bold
}

h2 {
    @apply text-2xl font-bold
}

h3 {
    @apply text-xl font-bold
}

.toolBtn {
    @apply rounded-md bg-white px-3 py-2 text-sm shadow-sm ring-1 ring-inset ring-gray-300 hover:bg-gray-50
}

.dropdownElement {
    @apply block px-4 py-2 text-sm text-gray-700 data-[focus]:bg-gray-100 data-[focus]:text-gray-900
}

.bulletList {
    @apply list-disc
}

/* list */
ul, ol {
    padding: 0 1rem;
    margin: .5rem 1rem 1.25rem 0.4rem;
    
    li p {
      margin-top: 0.25em;
      margin-bottom: 0.25em;
    }
  }